.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
.env

echo "regression/bulldozer-price-predicton/data/Train.csv" >> .gitignore
echo "regression/bulldozer-price-predicton/data/Train_tmp.csv" >> .gitignore
echo "regression/bulldozer-price-predicton/data/TrainAndValid.csv" >> .gitignore

# Ignore large data files
regression/bulldozer-price-predicton/data/Train.csv
regression/bulldozer-price-predicton/data/Train_tmp.csv
regression/bulldozer-price-predicton/data/TrainAndValid.csv
